*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow: hidden;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/04/16/77/785825b4ba713f1.jpg');
    background-size: cover;
    background-position: top center;
}

.app{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.01),rgba(0,0,0,0.3));
}

input{
    border: none;
    padding:10px;
    border-radius: 10px 0px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.5);
    border-bottom:3px solid #2f91ec;
    outline:none;
}

input:focus,input:hover{
    background-color: rgba(255,255,255,1);
}

.location{
    margin:25px 0px;
    
}
.city{
    font-size: 40px;
    font-weight:bold;
}
.date{
    font-size: 20px;
    font-weight: bold;
}

.temp{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 3px 4px rgba(0,0,0,0.4);
    text-align: center;
}
span{
    font-size: 50px;
}
.weather{
    text-align: center;
    margin:25px 0px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    
}

.hi-low{
    text-align: center;
    margin:25px 0px;
    font-size: 30px;
    font-weight: bold;
}